@media (min-width: 600px) and (max-width: 1024px) {

  .top-cloud{
    right:70px;
  }
  .mountain {
    position: static;
    padding-top: 50px;
    width: 600px;
    height: 400px;
  }

  .buttom-cloud {
    left: 30px;
		padding-top: 10px;
  }
  .intro {
    width: 30%;
    margin: auto;
    line-height: 2;
  }

  .skill-row {
    width: 80%;
    margin-left: 70px;
    text-align: left;
  }
  .skillimg{
    height:150px;
    width:150px;
  }
  .skillimg2
  {
 
    height:150px;
    width:150px;
  }

  .buttomclass {
    height: 80px;
    width: 80px;
  }
}


}
